body{
    font-family: 'Albert Sans';
}


.container-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-acc {
    width: 80%;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
}


.card-button {
    display: inline-block;
    padding: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #C2EDCE;
    transition: all 0.3s ease;
    margin: 2px;
    cursor: pointer;
}

.card-caro.light{
    background-color: #BADFE7;
}


.container-acc button:hover{
    transform: scale(0.95);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container-acc i{
    font-size: 25px;
}
.book-card i{
    color: #FFD700;
}

/* Custom CSS for Mobile Responsiveness */
@media (max-width: 767px) {
    .card-button {
        width: 100%; /* Full width on mobile */
    }
}

/* Custom CSS for Laptop Responsiveness */
@media (min-width: 768px) {
    .container-acc .card-button {
        width: 90%;
        height: 90%;
    }
}