
body {
    height: 100%;
    font-family: 'Heebo';
}

.custom-card {
    width: 30%;
    margin-top: 10%;
    margin-left: 35%;
    margin-right: 28%;
    border-radius: 16px;
    border-style: solid;
    border-width: 1px;
}

.custom-card-header {
    color: #f2f2f2;
    background-color: #2b6777;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    font-size: 20px;
}

.custom-card-body {
    background-color: #f2f2f2;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.btn-auth {
    margin-top: 10px;
    background-color: #52ab98;
    border-color: #52ab98;
}

.btn-auth:hover {
    color: white;
    background-color: #2b6777;
    border-color: #2b6777;
}

.btn-base-auth {
    background-color: #4DB4D7;
    border-color: #4DB4D7;
    margin-top: 10px;
}

.btn-base-auth:hover {
    background-color: #0076BE;
    border-color: #0076BE;
    color: white;
}

.custom-common-footer {
    margin-top: 22%;
    position: relative;
    width: 100%;
}

.custom-footer {
    width: 100%;
    height: 100%;
    position: relative;
    border-style: solid;
    border-top-color: #2b6777;
    border-bottom-color: #ffffff;
    border-left-color: #ffffff;
    border-right-color: #ffffff;
    border-width: 1px;
}

.custom-footer a {
    font-size: 15px;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}