body{
    font-family: 'Albert Sans';
}

.booking-container{
    align-items: center;
    border: none;
}


.star-rating {
    font-size: 24px; /* Adjust the font size as needed */
    cursor: pointer;
    user-select: none; /* Prevent cursor from changing into text selector */
}

.star {
    color: grey; /* Default star color */
    margin-right: 5px; /* Add some spacing between stars */
}

.gold-star {
    color: gold; /* Gold star color */
}

.card {
    background-color: #6FB3B8;
    border-radius: 30px;
    border:none;
    padding: 20px;
    width: 300px;
    margin: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  .card .btn-primary{
    background-color: #0076BE;
    border:none;
  }
  .card .btn-primary:hover{
    background-color: #0076BE;
    border:none;
  }

  .card p {
    margin: 10px 0;
    font-size: 14px;
    color: #333;
  }

  .card p span {
    font-weight: bold;
    color: #007bff;
  }
  .card .card-header{
    background-color: #ffffff;
  }

  .book-modal{
    background-color: #F6F6F2;
    color: #272727;
  }